<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMS</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="background-color:black">
            <div class="col-md-3">
                <img src="~/Images/logo.png" />
            </div>
            <div class="col-md-6 text-center">
                <h1 style="margin-top:0px;color:#FFFFFF">Vehicle Movement System</h1>
            </div>
            <div class="col-md-3 text-right" style="color:#FFFFFF;padding-top:30px">
                <a href="~/Docs/VMS.pdf" style="color:#FFFFFF">Documentation</a>
            </div>
        </div>
        <div class="row" style="background-color:#EDECD1">
            @RenderBody()
        </div>
    </div>
</body>
</html>