<div style="background-color:#FFFFFF;padding:10px;margin:10px">
    <div>
        <h4>Account Login</h4>
        <h5>Email/Username</h5>
        <input type="text" name="username" id="txtUsername"/><br/>
        <h5>Password</h5>
        <input type="text" name="password" id="txtPassword" /><br/>
        <input type="checkbox" name="rememberme" id="chbkrememberme" /> Remember Login<br/>
        <button style="margin-right:25px;">Sign In</button> <button>Regsiter</button>
    </div>
    <div class="text-right">
        <img src="~/Images/Footer.png" />

    </div>
</div>

